### Following this guide for data retrieval

https://qlib.readthedocs.io/en/latest/start/getdata.html

In [10]:
import datetime
import pandas as pd
import numpy as np
import qlib
from qlib.data import D

from qlib.config import C

### 参考Data Preparation部分，下载数据

https://github.com/microsoft/qlib?tab=readme-ov-file#data-preparation

In [11]:
qlib.init(provider_uri='~/.qlib/qlib_data/cn_data')

[5763:MainThread](2025-06-19 18:12:10,765) INFO - qlib.Initialization - [config.py:420] - default_conf: client.
[5763:MainThread](2025-06-19 18:12:10,770) INFO - qlib.Initialization - [__init__.py:74] - qlib successfully initialized based on client settings.
[5763:MainThread](2025-06-19 18:12:10,772) INFO - qlib.Initialization - [__init__.py:76] - data_path={'__DEFAULT_FREQ': PosixPath('/Users/mingkaijia/.qlib/qlib_data/cn_data')}

In [12]:
D.calendar(start_time='2010-01-01', end_time='2017-12-31', freq='day')[:2]

array([Timestamp('2010-01-04 00:00:00'), Timestamp('2010-01-05 00:00:00')],
      dtype=object)

In [13]:
D.instruments(market='all')

{'market': 'all', 'filter_pipe': []}

In [14]:
instruments = D.instruments(market='csi300')
ins_list = D.list_instruments(instruments=instruments, start_time='2010-01-01', end_time='2017-12-31', as_list=True)
print(len(ins_list), ins_list[:5])

594 ['SZ000001', 'SZ000002', 'SZ000009', 'SZ000012', 'SZ000021']

In [16]:
# Set a different backend
C.joblib_backend = 'threading'  # or 'sequential'

fields = ['$close', '$volume', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']

df = D.features(ins_list[:5], fields, start_time='2025-01-01', end_time='2025-06-18', freq='day')

In [17]:
display(df.head())
display(df.shape)
display(datetime.datetime(2025,6,18) - datetime.datetime(2025,1,1))
display(pd.date_range(start='2025-01-01', end='2025-06-18', freq='B').shape)

                         $close       $volume  Ref($close, 1)  \
instrument datetime
SZ000001   2025-01-02  8.955058  2.322486e+06        9.166585
           2025-01-03  8.915880  1.473804e+06        8.955058
           2025-01-06  8.962906  1.385548e+06        8.915880
           2025-01-07  9.017719  9.545542e+05        8.962906
           2025-01-08  9.009933  1.355997e+06        9.017719

                       Mean($close, 3)  $high-$low
instrument datetime
SZ000001   2025-01-02         9.161373    0.297719
           2025-01-03         9.012507    0.141025
           2025-01-06         8.944614    0.203702
           2025-01-07         8.965502    0.125355
           2025-01-08         8.996853    0.180199

(520, 5)

datetime.timedelta(days=168)

(121,)

In [18]:
df.index.levels[0]

Index(['SZ000001', 'SZ000002', 'SZ000009', 'SZ000012', 'SZ000021'], dtype='object', name='instrument')

In [19]:
df.loc['SZ000009']

,$close,$volume,"Ref($close, 1)","Mean($close, 3)",$high-$low
datetime,,,,,
2025-01-02,8.305614,256215.921875,8.538462,8.535343,0.326625
2025-01-03,8.137214,153969.546875,8.305614,8.327096,0.270618
2025-01-06,8.155925,115766.757812,8.137214,8.199584,0.158640
2025-01-07,8.146569,108736.117188,8.155925,8.146569,0.130644
2025-01-08,8.053015,190975.468750,8.146569,8.118503,0.279943
...,...,...,...,...,...
2025-06-05,7.456341,101733.164062,7.446985,7.434511,0.083989
2025-06-06,7.548857,187550.375000,7.456341,7.484061,0.149298
2025-06-09,7.689189,284168.437500,7.548857,7.564795,0.251952
2025-06-10,7.539501,181115.234375,7.689189,7.592515,0.233277
2025-06-11,7.689189,342137.125000,7.539501,7.639293,0.298609

### 与网页查询结果仍存在出入，但整体运行速度快很多，这里用的应该是我本地cache的data

数据不匹配QA
https://qlib.readthedocs.io/en/latest/component/data.html#qlib-format-dataset

#### 具体的coverage可以在/.qlib/qlib_data/cn_data/instruments/all.txt中找到，比对了一下sz001226的上市时间2022/06/22，与文档内时间吻合

In [22]:
sz001226 = D.features([
    'sz001226'], 
    ['$close','$adjclose','$change','$factor','$low','$volume','$amount', '$high','$open','$vwap'], 
    start_time='2022-06-22', end_time='2025-06-18', freq='day')
sz001226

                         $close  $adjclose   $change   $factor      $low  \
instrument datetime
sz001226   2022-06-22  1.000000  35.509998       NaN  0.028161  0.833286
           2022-06-23  1.099972  39.060001  0.099972  0.028161  1.099972
           2022-06-24  1.210082  42.970001  0.100102  0.028161  1.210082
           2022-06-27  1.331174  47.270000  0.100070  0.028161  1.331174
           2022-06-28  1.464376  52.000000  0.100063  0.028161  1.464376
...                         ...        ...       ...       ...       ...
           2025-06-05  0.849057  30.150000  0.029092  0.028919  0.807703
           2025-06-06  0.808223  28.700001 -0.048025  0.028917  0.789427
           2025-06-09  0.796677  28.290001 -0.014311  0.028917  0.782507
           2025-06-10  0.794424  28.209999 -0.002904  0.028920  0.786327
           2025-06-11  0.792171  28.129999 -0.002912  0.028922  0.791882

                            $volume        $amount     $high     $open  \
instrument datetime
sz001226   2022-06-22  2.241022e+05   22316.798828  1.000000  0.833286
           2022-06-23  3.990685e+04    4389.641113  1.099972  1.099972
           2022-06-24  1.485532e+05   17976.156250  1.210082  1.210082
           2022-06-27  4.787245e+04    6372.658203  1.331174  1.331174
           2022-06-28  4.837563e+04    7084.012207  1.464376  1.464376
...                             ...            ...       ...       ...
           2025-06-05  1.283565e+06  106925.265625  0.854551  0.825343
           2025-06-06  2.319906e+06  191788.484375  0.876177  0.874442
           2025-06-09  9.863233e+05   78600.851562  0.803906  0.782507
           2025-06-10  6.910909e+05   54781.332031  0.801654  0.800786
           2025-06-11  5.187762e+05   41326.882812  0.803451  0.795353

                          $vwap
instrument datetime
sz001226   2022-06-22  0.995831
           2022-06-23  1.099972
           2022-06-24  1.210082
           2022-06-27  1.331174
           2022-06-28  1.464376
...                         ...
           2025-06-05  0.833034
           2025-06-06  0.826708
           2025-06-09  0.796908
           2025-06-10  0.792679
           2025-06-11  0.796623

[720 rows x 10 columns]

In [27]:
data = np.fromfile('/Users/mingkaijia/.qlib/qlib_data/cn_data/features/sz001226/close.day.bin', dtype=np.float32)
df = pd.DataFrame(data, columns=['$close'])
df

          $close
0    4242.000000
1       1.000000
2       1.099972
3       1.210082
4       1.331174
..           ...
716     0.849057
717     0.808223
718     0.796677
719     0.794424
720     0.792171

[721 rows x 1 columns]